<h1> All Characters </h1>
<%= link_to "Add Character", new_character_path %>


<% @characters.each do |char| %>
    <div>
        <h2>
            Name: <%= char.name %>
            </br>
            House: <%= char.house.name %>
        </h2>
        <%= image_tag char.img_url %>
    </div>
<% end %>
